
*.flac
*.wav
*.trans.txt
*.flac:Zone.Identifier
*.trans.txt:Zone.Identifier

data/speakerdataset/compressed/
data/speakerdataset/LibriSpeech/

data/speakers/known/
data/speakers/unknown/

models/
lightning_logs/
ckpts/

__pycache__
.venv