
*.flac
*.wav
*.trans.txt
*.png
*.pth
*.ckpt
*.pt

data/dataset/compressed/
data/dataset/Libri-speech/

data/speakers/known/
data/speakers/unknown/

models/
lightning_logs/
ckpts/

__pycache__
.venv
.vscode